.d-none{
    display: none;
}

@media (max-width:935px){
        
   nav div{
       width: 90%;
   }
    


    main{
        width: 95vw;
    }
    #menu-lateral{
        display: none;
    }
    #menu-principal{
        
        margin: 0 auto;
    }
}



@media (max-width:614px){
    .ocultar-l-mobile{
        display: none;
    }

    nav #icons{
        display: none;
    
    }

    nav div{
        justify-content: space-between;
    }
    
    .ajuste-icons{
        display: block;
    }

    #menu-principal{
        width: 95vw;
    }

    #scroll-lateral-perfis{
        border: none;
        margin: 0;

    }

    .img-post{
        height: auto;
       
    
    }
    
    .img-post img{
        width: 100%;
    }
   
 }