@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');




/*Css de teste gerais*/

.ml{
    margin-left: 8px;
}

.opaco{
    color: rgba(76,65, 40, 0.5);
    font-size: 13px;
}
*{
    
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}




/*Nav-Bar*/
nav{
    width: 100vw;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    
}

nav div{
    margin: 0 auto;
    width: 914px;
    height: 54px;
    display: flex;
    align-items: center;
    
    
}

.ajuste-icons{
    display: none;
}

#img-logo{
    width: 22px;
    margin-right: 20px;

}

#nome-logo{
    width: 103px;
    height: 29px;
}

#linha-v{
    height: 10px;
    width: 1px;
    background-color: black;
}
nav input{
    width: 250px;
    height: 30px;
    border: 1px solid #DBDBDB;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
}

nav #icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav #icons img{
    margin-left: 20px;
}


/*Conteudo Principal*/
main{
    
    width: 914px;
    margin: 54px auto;
    display: flex;
    
}

#menu-principal{
    width: 600px;
    
}
#menu-lateral{
    width: calc(100% - 600px);
}
#scroll-lateral-perfis{
    margin: 25px 0;
    width: 100%;
    height: 118px;
    overflow-x:scroll;
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    position: relative; 
}
.seta{
    position: absolute;
    left: 500px;
    width: 26px;
}

#scroll-lateral-perfis::-webkit-scrollbar{
    width: 0;
    display: none;
}

#perfil-users img {
    
    border-radius: 50%;
    background-image: linear-gradient(360deg, rgba(241, 145, 20, 0.966),rgb(253, 47, 57), rgb(238, 20, 191));
    padding: 2.3px;
    margin-left: 10px;
    
}

#posts{
    width: 100%;
    height: 1000px;
    
  
}







/*Conteuudo lateral*/


#menu-lateral{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 16px 0 16px 16px;
    position: fixed;
    left: calc(100vw - 38%);
    width: 300px;
    
    
}

#menu-lateral a{
    color: #139EF2;
    font-weight: 500;

}

#your-profile{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#your-profile img{
    width: 56px;
}



#sugestoes{
    
    display: flex;
    justify-content: space-between;
}



#perfil-sugestao{
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#perfil-img{
    display: flex;
    
}


.infos{
    margin-top: 25px;
    font-size: 11px;
    font-weight: 400px;
    color: #C7C7C7;
}

#fixed{
    position: fixed;
}




/*CSS DOS POSTS*/

.l-post{
    border: 1px solid #C7C7C7;
    margin-bottom: 30px;
}

.cabecalho-post{
    height:62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
}
.cabecalho-post img{
    margin-right: 10px;
}

.imgAndtext{
justify-content: space-around;
display: flex;
align-items: center;
}

.imgAndtext img{
    width: 32px;
    border-radius: 50%;
}

.img-post{
    height: 600px;
   
}

.img-post img{
    width: 100%;
}

.video-post{
    position: relative;
}

.video-post video{
    width:100%;
    height: auto;
}

.btn-play{
    width: 45px;
    position: absolute;
    
    /*Truque para centralizar elemento no meio*/
    bottom: 0;
    right: 0;
    left: 0;
    top: -20px;
    margin: auto;

    
}

.reactions-post{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;;
    
}


.coments-post{
    height: 30px;
    
}



.interacoes{
    display: flex;
    align-items: center;

}


.interacoes p{
    font-size: 14px;

}